/**post list**/

.hfeed {

	background-color: transparent;
	
}

.readmoregraf {

	margin-bottom: 4px;
	
}

/* Blog posts */

.hentry{
	background:#fff;
	border:1px solid #e0e0e0;
	margin-bottom:30px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -o-border-radius: 10px;
                border-radius: 10px;	

}

h1.post-title a:link,h1.post-title a:visited,h2.post-title a:visited{
	color:#333333
}
h1.post-title a:hover{

	color:#222;
}

h1.post-title{
	font-size:32px;
	margin:10px 15px;
	padding:10px 0px;
	font-family: 'Nobile', Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 100%;

}



.post-meta{
	margin:10px 15px;
	padding:5px 10px;
 	background:#333; 
	font-size:10px;
	background-color:#AC1C25;
	text-transform:uppercase;
	font-style:normal;
	height: 22px;
}

.post-meta a, .post-meta a:link{
	color:white;
}

.post-meta .avatar {

	float: right;
	margin-right: -9px;
	margin-top: -5px;

}


.hentry footer{
	background:#fafafa;
	padding:10px 0px;
	border-top:1px solid #E8E8E8;

}

.hentry footer .comments-link{
	padding:0px 15px;
	
}

article img.wp-post-image{
	margin:15px 15px 15px 15px;
	background:#eee;
	border:1px solid #ddd;
	padding:6px;
	float:left;
	width:150px;
	height:120px;
}

img.postimg{
	margin:15px 15px 15px 15px;
	background:#eee;
	border:1px solid #ddd;
	padding:6px;
	float:left;
	width:150px;
	height:120px;
}

.entry{
	color:#333;
	line-height:170%;
	padding:10px 15px;
	
}

.hentry p{
	padding:0px 0px;
}

	
.hentry :link,
.hentry a:visited {

	background-color: transparent;
}
.hentry a:hover {
	color:#073f84;
	background-color: transparent;
	text-decoration: none;

}

.hentry ul, .hentry ol{
  margin: .4em 0 1em;
  line-height: 150%;
}

.hentry ul li, .hentry ol li{
  list-style-position:outside;
  margin-left: 1.6em;
}

article:first-child {

	

}


p {margin-bottom: 1.143em;}


.frontpageFB {

	margin-left: 16px;
	width: 650px;
	overflow:hidden;

}

.frontpageTweet {

	float: right;

}

.frontpagePlus {

	float:right;
	width: 72px;
	margin-right: 2px;

}


/**author post info**/
.author-bio{
	padding-left: 14px;
	border-top: 1px solid #E8E8E8;
	padding-top: 15px;
	padding-right: 14px;
	border-bottom:1px dotted #ddd;
	padding-bottom:15px;
}

#author-avatar{
	float:left;
	background:#f4f4f4;
	border:1px solid #eee;
	margin-right:15px;
	padding:5px;
	width: 60px;
}

#author-avatar img{
	display:inline;
}

#author-text h4{
	font-size:14px;
	font-weight:bold;
	padding-bottom: 15px;
	line-height: 125%;
}

#author-text{
	width: 424px;
	float: right;
	display:block;
	white-space: normal;
}


#author-text p{
	color:#666;
	font-size:12px;
	line-height:150%;
	
}
