.asidetype {

	border-left:0;
	border-right: 6px solid #AC1C25;
	border-bottom: 8px solid #AC1C25;
	border-top: 8px solid #AC1C25;
	padding-bottom: 0;

}

.asidetype .entry {

	

}

.asidetype footer {

	

}

.asidetype .submeta {

	

}

.asidetype .post-meta {

	

}

