/*sidebar*/

.aside ul ul {

	list-style: none;
	margin-left: 0;
	
}

.aside ul ul li {

	margin-bottom: .2em;

}

.main-aside {

	width: 306px;
	margin-right: 0px;
	right: 0px;
}

#sidebar-top-ad {

	width: 300px;
	padding: 0 4px;
	clear:right;
	margin-bottom: 0;
	margin-top: 0;

}

#sidebar-mid-ad {

	width: 300px;
	padding: 0 4px;
	clear:right;
	margin-bottom: 0;
	margin-top: 0;
	
}

#bonusbox {

	width: 300px;
	background-color: white;
	margin-left: -18px;
	margin-top: 18px;
	padding-left: 18px;
	border: 2px solid #8A165F;
	border-left: 0;
	position: relative;
	-moz-border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-o-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-o-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;	
	
}

#bonusbox a {

	z-index: 1000;

}

#bonuscontainer {

	margin: 6px 8px;
	margin-bottom: 10px;
	border-bottom: 1px solid #C4B8C1;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-left: 6px;

}

#bonuscontainer table {

	width: 284px;
	vertical-align: top;

}

.bonustable {

	margin-top: 10px;
	border-top: 1px solid #C4B8C1;
	padding-top: 10px;

}

#bonuscontainer .navzero {

	vertical-align: top;
	
}

#bonuscontainer h4 {

	margin: 0;
	padding: 0;
	padding-right: 14px;
	padding-left: 2px;
	width: 92px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-align: right;

}

#bonuscontainer h4 a {

	color: #222;
	text-decoration: none;

}

#bonuscontainer h4 span {

	padding-bottom: 0px;
	border-bottom: 1px solid darkred;

}

#bonuscontainer h4 a:hover {

	color: #D5737A;
	text-decoration: none;

}

#bonuscontent img {

	border:1px solid darkred;
	margin-left: -7px;

}

#bonuscomments {

	margin-top: 6px;
	text-align: right;

}

#bonuscomments a {

	margin-right: 12px;

}

#sharebox {

	width: 300px;
	height: 80px;
	background-color: white;
	margin-left: -18px;
	padding-left: 18px;
	padding-top: 12px;
	margin-top: 10px;
	/**margin-bottom: 10px; temp-until bonusbox is implemented**/
	margin-bottom: -8px;
	border: 2px solid #8A165F;
	border-left: 0;
	position: relative;
	-moz-border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-o-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-o-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;

}

#sidebar-top-container {

	clear: right;
	margin-bottom: 0px;

}

.socialtab {

	margin-right: 19px;

}

.social-centerer {

	margin: 0 auto;	
	padding-left: 8px;

}

.facebook-button {

	margin-left: -30px;
	
}

#primary {

	border: 0;
	margin-bottom: 2px;
	padding-top: 0;
	padding-bottom: 0;

}

#primary ul {

	padding: 0 0;
	
}

#primary .xoxo {

	margin-bottom: 0;

}

#primary .xoxo .widgetcontainer {

	background: white;
	border: 1px solid #C4B8C1;
	padding: 8px 21px;
	margin: 12px auto;
	padding-top: 0;
	border-top: 0;

}

#primary .xoxo .widgetcontainer h3 {

	background: #C4B8C1;
	border-bottom: 1px solid #c4aebf;
	color: #111;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
	margin-bottom: 4px;
	width:276px;
	margin-left: -21px;
	font-style: normal;

}

#secondary {

	border: 0;
	margin-bottom: 2px;
	margin-top: 10px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1em;

}

#secondary ul {

	padding: 0 0;
	
}

#secondary .xoxo {

	margin-bottom: 0;

}

#secondary .xoxo .widgetcontainer {

	color: white;
	padding: 8px 21px;
	margin: 12px auto;
	padding-top: 0;
	border-top: 0;

}

#secondary .xoxo .widgetcontainer a {

	color: white;

}

#secondary .xoxo .widgetcontainer a:hover {

	color: #ff4b5a;

}


#secondary .xoxo .widgetcontainer h3 {

	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 15px;
	margin-bottom: 4px;


	font-style: normal;

}