/**header elements**/

header div {

	

}

#header {

	/**height: 408px;**/
	width: 100%;
	margin: 4px 0;
	margin-top: 0px;
	background-color: #262626;
	overflow: hidden;
	border-bottom: 2px #343434 solid;
	/**gradient 10 up and down on "B" brightness scale**/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#262626'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#262626)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #1c1c1c,  #262626); /* for firefox 3.6+ */ 
	

}

header a {
	text-decoration: none;
	border: 0;
}

#branding {

	height: 150px;
	margin-bottom: 0;
	padding: 0;
	background-color: transparent;


}

.headad {

	width: 180px;
	height: 150px;

}

#majorstory {

	margin-right: 2px;
	float: left;
}

#adrighthead {

	margin-left: 2px;
	float: right;
	
	
}

#socialhead {

	float: left;
	height: 30px;
	width: 362px;
	margin-left: 8px;
	margin-top: 4px;
	border-top: 1px solid darkRed;
	border-bottom: 1px solid darkRed;
	padding: 0 4px;
	padding-top: 6px;
	
}

#socialhead img {

	margin-right: 8px;

}

#searchhead {

	float:left;
	height: 40px;
	width: 216px;
	margin: 0 12px;
	margin-right: 8px;
	border: 2px #343434 solid;
	border-top: 0px;
	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
	
	-o-border-top-radius: 0;
	-moz-border-top-radius: 0;
	-webkit-border-top-radius: 0;
	border-top-radius: 0;
	
	-o-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
	
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
	
	padding: 0 9px;
	
}

#searchhead #s {

	width: 186px;
	margin-left: 3px;
	margin-top: 6px;
	margin-right: 6px;
	float:left;
	border: 0;
	border-bottom: 1px solid grey;
	color: grey;
	background-color: transparent;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;

}

#searchform #searchsubmit {

	margin-top: 12px;
	width: 20px;
	height: 20px;
	float: right;
	border: 0;
	background-color: transparent;
	background-image: url('../imgs/searchbutton-t.png');
	display: block;
	overflow: hidden;
	text-indent: -3000px;
	outline: none;
	outline-width: 0;
	font-size: 0px;
	position:absolute;
	margin-left: 196px;

}

#sitetitle {

	float: left;
	width: 620px;
	height: 100px;
	margin-left: 8px;
	margin-top: 8px;
	
}

#logo img {
	float: left;
}


#tagline{

	float:left;
	margin-top:-22px;
	color: white;
	background-color: transparent;
	margin-left: 300px;
	font: italic bold 14px arial,sans-serif;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	cursor:default; /*makes it even more obvious that I don't want people highlighting.*/

}

.rec-head-title {

	float:right;
	text-align:left;
	margin-top: -56px;
	margin-right: 28px;
	padding-left: 10px;
	background-color: black;
	color: white;

}

.rec-head-title:hover {

	color: red;

}

.rec-head-title a:link{

	color: white;

}

.rec-head-title a:visited{

	color: white;

}

.rec-head-title a:hover{

	color: red;

}



#majorstory img {

	float:left;

}

.skip-link {
    border-bottom:0px;
    height:0px;
    font-size:13px;
    overflow:hidden;
	display:none;
    z-index:100;
}




/** Nav items */

nav {

	height: 38px;
	margin: 0 auto;
	margin-top: 6px;
	background-color: #ac1c25;
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-family: Arial, verdana,Tahoma,Century gothic, sans-serif; 
/**gradient 10 up and down on "B" brightness scale**/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c41f2a', endColorstr='#91171f'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#c41f2a), to(#91171f)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #c41f2a,  #91171f); /* for firefox 3.6+ */ 
	z-index: 1000;
	
	
}

.sf-menu a {

	border: 0px tranparent solid;
	
}


.menu ul {

	list-style-type: none;
	display: table;
	text-align:left;
	margin:0 auto;
	padding:0;
	border: 0;
	background-color: transparent;
	
	
}

.menu .sf-menu ul li {

	

}

.menu ul li {

	display:inline;
	color: white;
	height: 38px;
	border: 0;
	background-color: transparent;
	
}

.sf-menu a {

	padding: 12px 16px!important;
	margin-right: 6px;
	text-decoration: none;
	color: white;
	border: 0;
	background-color: transparent;
	font-weight: bold;
	
}

.sf-menu li:first-child a {

	padding-left: 1px;
	
}

.sf-menu a {

	padding: 0;
	color: white;

}

.sf-menu a, .sf-menu a:visited {

	color: white;
	background-color: transparent;
	border: 0;

}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu ul a:hover {

	color: #f4878d;
	background-color: transparent;

}

/**slider**/

#featured {

	height: 200px;
	margin: 8px auto;
	display: block;
	margin-bottom: 8px;
	overflow: hidden;
	
}

.slide {

	background-color:transparent;
	overflow: hidden;

}

.subslider {

	display: inline;
	float: left;
	width: 196px;
	height: 196px;
	margin-right:0px;
	border: 2px solid black;
	
}

.subslider img {

	float:left;

}

.ss1 {

	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
	
	-o-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	
	-o-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	
	overflow: hidden;
	border-left-color:transparent;
	
}


.ss5 {

	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;

	-o-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	overflow: hidden;
	border-right-color: transparent;
	
}

.slider-item-title {

	float:left;
	text-align:left;
	margin-top: -72px;
	margin-right: 28px;
	padding: 4px 10px;
	background-image:url(../imgs/black-trans.png);
	background-color: transparent;
	background-repeat: repeat;
	color: white;
	z-index: 1000;


}


.slider-item-title:hover {

	color: red;

}

.slider-item-title a:link{

	color: white;

}

.slider-item-title a:visited{

	color: white;

}

.slider-item-title a:hover{

	color: red;

}
