/*sidebar*/

.main-aside {

	width: 306px;
	margin-right: 0px;
	right: 0px;
}

#sidebar-top-ad {

	clear:right;

}

#sidebar-mid-ad {

	clear:right;
	margin-bottom: 22px;

}

#bonusbox {

	clear:right;

}