
/** Theming for single / page **/


.single .hentry, .page .hentry {

	background: transparent;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 8px;
	padding-bottom: 0;

}

.single .entry-top, .page .entry-top {

	padding: 0 12px;
	vertical-align: bottom;
	display: block;
	position: relative;
	height: auto;

}

.single .entry-top table, .single .entry-top tr, .page .entry-top table, .page .entry-top tr {
	
	border: 0;
	margin: 0;
	padding: 0;
	border-spacing: 0;

}

.single .entry-top td, .page .entry-top td {

	padding: 0;
	vertical-align: bottom;
	margin: 0;
	border: 0;
	
}

.entry-top h1 {

	font-size: 3em;
	color: white;
	font-weight: 700;
	line-height: 1.2em;
	margin-bottom: -.24em;
	font-family: 'Nobile', Arial, Helvetica, sans-serif;
	padding-right: 20px;
	margin-right: 10px;

}

.entry-top .entry-meta {

	margin-bottom: 2px;
	padding-left: 6px;
	border-left: 2px solid grey;
	font-style: normal;

}

.entry-top .entry-meta abbr {

	font-style: normal;
	text-transform: none;
	font-size: inherit;

}

.entry-top a {

	color: darkRed;

}

.meta-comment-single-top {

}

.meta-comment-single-top a {

	color: darkRed;

}

/**
Stupid divs and their stupid alignment quirks. This doesn't work. I'm going to use tables instead and you can just sit there and judge me. Tables take 5 seconds to get to work, this could go on for another hour. 
.entry-top h1 {

	float: left;
	width: 75%;
	padding-right: 10px;
	vertical-align: bottom;
	height: auto;
	font-weight: bold;
	font-size: 2.80em;

}

.single .entry-meta {

	float: right;
	width: 25%;
	margin-bottom: 8px;
	position:absolute;
	bottom:0;
	right:0;
	height: auto;
	font-size: .92em;
	
}**/

.entry-utility {

	padding-bottom: 20px;

}

.single .entry-sub-container, .page .entry-sub-container {

	padding: 0 12px;
	background: white;
	border: 0px solid #E0E0E0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	z-index: 2;

}

.nav-previous .prevlink-box .left {

	border-top-left-radius: 100px 50px;
	border-bottom-left-radius: 100px 50px;
	overflow: hidden;
	background-image: url(../imgs/black-trans.png);
	background-color: transparent;
	background-repeat: repeat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
	height: 60px;
	vertical-align: top;
	width: 100%;

}

#nav-below table {

	border: 0px;
	padding: 0px;
	margin: 0px;
	border: 0;

}

#nav-below tr {

	border: 0px;
	padding: 0px;
	margin: 0px;
	border: 0;

}

#nav-below td {

	border: 0px;
	padding: 0px;
	margin: 0px;
	border: 0;
	vertical-align: middle;

}

.navimgtd {

	width: 75px;
	height: 60px;

}

.navtable {

	height: 60px;
	
}

.nav-next { overflow: hidden; width: 47%; }
.nav-previous { overflow: hidden; width: 47%; }

.prevlink-title{

	color: white;
	font-style: normal;
	padding: 4px 16px;
	max-width: 225px;
	max-height: 52px;

}

.nextlink-title{

	color: white;
	font-style: normal;
	padding: 4px 16px;
	max-width: 225px;
	text-align: right;
	max-height: 52px;	

}

.nav-previous .prevlink-box .left img {

	border-top-left-radius: 100px 50px;
	border-bottom-left-radius: 100px 50px;
	border: 0px inset black;
	border-left: 0;
	width: 75px;
	height: 60px;

}

.nav-next .nextlink-box .right {

	border-top-right-radius: 100px 50px;
	border-bottom-right-radius: 100px 50px;
	overflow: hidden;
	background-image: url(../imgs/black-trans.png);
	background-color: transparent;
	background-repeat: repeat;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
	height: 60px;
	vertical-align: top;
	width: 100%;

}

.nav-next .nextlink-box .right img {

	border-top-right-radius: 100px 50px;
	border-bottom-right-radius: 100px 50px;
	border: 0px inset black;
	border-left: 0;
	width: 75px;
	height: 60px;

}

.prevlink-box {

	overflow:hidden;
	
}

.nextlink-box {

	overflow:hidden;
	
}

.prevlink-box .left:hover {

	/**background-color: #ff4b5a;**/
	background-image: url(../imgs/pink-trans.png);
	background-color: transparent;
	
}

.nextlink-box .right:hover {

	background-image: url(../imgs/pink-trans.png);
	background-color: transparent;
}