@import url('library/substyles/nmwp_basics.css');

@import url('library/substyles/nmwp_header.css');

@import url('library/substyles/nmwp_post-list.css');

@import url('library/substyles/nmwp_sidebar.css');

@import url('library/substyles/nmwp_comments.css');

@import url('library/substyles/nmwp_footer.css');

@import url('library/substyles/nmwp_mods.css');

@import url('library/substyles/nmwp_single-post-page.css');

@import url('library/substyles/nmwp_asides.css');



/** Altered state 2 


.home h1.post-title {

	margin-left: 50px;
	background-image: url(library/imgs/white-trans.png);
	margin-top: 50px;
	
}

.home .post-meta {

	margin-left:210px;
	
}

.home article img.wp-post-image {

	width: 250px;
	height: 200px;
	margin-top: -166px;
	margin-left: -40px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 30px;
	background: transparent;
	padding:0;
	
}

.home h1.post-title a {

	background-image: url(library/imgs/white-trans.png);

	
}

.home #main {

	overflow: visible;
	
}

.home #content {

	overflow: visible;
	
}

end of altered state 2 **/